body{
    /* background-color: #DFD3C3; */
    background-image: url("hutnik2.jfif");
    /* backdrop-filter:blur(5px); */
    background-size: cover;
  }
  
  .rootDiv{
    display: grid; 
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . . . ."
      ". . . . . . ."
      ". . timer . . . ."
      ". . . . . . ."
      ". . . . . . .";
  }
  
  .days{
    grid-area: days;
  }
  .hours{
    grid-area: hours;
  }
  .minutes{
    grid-area: minutes;
  }
  .seconds{
    grid-area: seconds;
  }
  .timer{
    grid-area: timer;
  }
  .timer{
    width: 60vw;
    height: 20vw;
    border: white solid 5px;
    /* background-color: #F0ECE3; */
    box-shadow: 5px 5px 20px 5px rgb(37, 37, 37);
    backdrop-filter:blur(5px);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . . . . . ."
      ". . . . . . . . ."
      ". days daysSep hours hoursSep minutes minutesSep seconds ."
      ". . . . . . . . ."
      ". . . . . . . . .";
      transition: 1s ease;
  }
  
  .daysSep{grid-area:daysSep} .hoursSep{grid-area:hoursSep} .minutesSep{grid-area:minutesSep}
  
  .days,.hours,.minutes,.seconds{
    color: #a3a3a3;
    font-size: 8vw;
    transition: 2s ease;
  }
  
  .daysSep, .hoursSep, .minutesSep{
    color: #cacaca;
    font-size: 8vw;
    transition: 2s ease;

  }

  .speakermanCopy{
    font-size: 1vw;
    color: white;
    text-align: end;
    position: absolute;
    top:80%;
  }