:root {
  --shakeDef: 0.2px;
  --shakeNegative: -0.2px;
}


body {
  /* background-color: #DFD3C3; */
  background-image: url("hutnik2.jfif");
  /* backdrop-filter:blur(5px); */
  background-size: cover;
}

.rootDiv {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . timer . . . ."
    ". . . . . . ."
    ". . . . . . .";
}

.days {
  grid-area: days;
}

.hours {
  grid-area: hours;
}

.minutes {
  grid-area: minutes;
}

.seconds {
  grid-area: seconds;
}

.timer {
  grid-area: timer;
}

.timer {
  width: 60vw;
  height: 20vw;
  border: white solid 5px;
  /* background-color: #F0ECE3; */
  box-shadow: 5px 5px 20px 5px rgb(37, 37, 37);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . ."
    ". . . . . . . . ."
    ". days daysSep hours hoursSep minutes minutesSep seconds ."
    ". . . . . . . . ."
    ". . . . . . . . .";
  transition: 1s ease;
}

.daysSep {
  grid-area: daysSep
}

.hoursSep {
  grid-area: hoursSep
}

.minutesSep {
  grid-area: minutesSep
}

.days,
.hours,
.minutes,
.seconds {
  color: #a3a3a3;
  font-size: 8vw;
  transition: 2s ease;
}

.daysSep,
.hoursSep,
.minutesSep {
  color: #cacaca;
  font-size: 8vw;
  transition: 2s ease;

}

.speakermanCopy {
  font-size: 1vw;
  color: white;
  text-align: end;
  position: absolute;
  top: 80%;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 2px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 5px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 10px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }


}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(var(--shakeDef))
  }

  50% {
    transform: translateX(var(--shakeNegative))
  }

  75% {
    transform: translateX(var(--shakeDef))
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes skew-x-shakeng {
  0% {
    transform: skewX(-2deg);
  }

  5% {
    transform: skewX(2deg);
  }

  10% {
    transform: skewX(-2deg);
  }

  15% {
    transform: skewX(2deg);
  }

  20% {
    transform: skewX(0deg);
  }

  100% {
    transform: skewX(0deg);
  }
}


body {
  overflow: hidden;
  /* animation: shake 0.1s cubic-bezier(0.1, 0.7, 1.0, 0.1) both; */
  /* animation: skew-x-shakeng 1s;  */
  transform: translate3d(0, 0, 0);
  animation: horizontal-shaking 0.1s infinite;
  backface-visibility: hidden;
  perspective: 1000px;
}

.skew {
  /* animation: skew-x-shakeng 1s infinite;  */
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}